@import url('../../content-index-card/content-index-card.css');
@import url('../../card-link/card-link.css');

.content-index__result{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
