@import url('../../paper-link-caption/paper-link-caption.css');

.header-link-to-paper__wrapper-paper-link{
    text-decoration: none;
    color: #1A1B22;
    display: flex;
}

@media screen and (min-width: 320px){
    .header-link-to-paper__wrapper-paper-link{
        align-self: flex-start;
    }
}

@media screen and (min-width: 768px){
    .header-link-to-paper__wrapper-paper-link{
        align-self: center;
    }
}

@media screen and (min-width: 1440px){
    .header-link-to-paper__wrapper-paper-link{
        align-self: center;
    }
}



