@import url('./__data/block__data.css');
@import url('./__user/block__user.css');
@import url('./__text/block__text.css');

.gradient-round__block{
    width: 400px;
    height: 288px;
    background-color: #ffffff;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 16px;
}