.links__wrapper a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

@media screen and (min-width: 768px){
    .links__wrapper{
        margin-top: 22px;
    }
    .links__wrapper a{
        margin-top: 22px;
    }
}

@media screen and (min-width: 1440px){
    .links__wrapper{
        margin-top: 30px;
    }
    .links__wrapper a{
        margin-top: 30px;
    }
}
