.button_more{
    border-radius: 80px;
    background-color: #FFFFFF;
    transition: .7s;
}

.button_more:hover{
    background-color: #FFFFFF;
}

@media screen and (min-width: 320px){
    .button_more{
        width: 288px;
    }
}

@media screen and (min-width: 768px){
    .button_more{
        width: 240px;
    }
}

@media screen and (min-width: 1440px){
    .button_more{
        width: 288px;
    }
}
