@import url('./__arrow/link__arrow.css');
@import url('./__text/link__text.css');

.header__wrapper{
    text-decoration: none;
    color: #1A1B22;
    display: flex;
}

@media screen and (min-width: 320px){
    .header__wrapper{
        align-self: flex-start;
    }
}

@media screen and (min-width: 768px){
    .header__wrapper{
        align-self: center;
    }
}

@media screen and (min-width: 1440px){
    .header__wrapper{
        align-self: center;
    }
}



