@import url('./__card/result__card.css');

.content__result{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 320px){
    .content__result{
        height: 1375px;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px){
    .content__result{
        height: 420px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1440px){
    .content__result{
        height: 100%;
        overflow: visible;
    }
}