@import url('./__line/text__line.css');

.content__text{
    width: 815px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin-bottom: 94px;
}

.content__text .text__line:last-of-type{
    margin-bottom: 0;
}