.contacts__name{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    color: #1A1B22;
}

@media screen and (min-width: 768px){
    .contacts__name{
        font-size: 20px;
        line-height: 30px;
    }
}

@media screen and (min-width: 1440px){
    .contacts__name{
        font-size: 26px;
        line-height: 30px;    
    }
}