@import url('../../text-author-about/text-author-about.css');

@media screen and (min-width: 320px){
    .me__text{
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (min-width: 768px){
    .me__text{
        margin-left: 32px;
    }
}

@media screen and (min-width: 1440px){
    .me__text{
        margin-left: 56px;
    }
}