

.preloader-loading__circle-preloader{
    display: block;
	width: 50px;
	height: 50px;
	border-top: 1px solid #888; /*немного доработал прелоудер, надеюсь, это не возбраняется*/
	border-right: 1px solid #888;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;

	border-radius: 50%;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
	animation: spin 2s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(-360deg);
	}
}