.data__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    width: 60px;
}

@media screen and (min-width: 768px){
    .data__text{
        margin-right: 10px;
    }
}

@media screen and (min-width: 1440px){
    .data__text{
        margin-right: 40px;
    }
}