.data__text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

@media screen and (min-width: 320px){
    .data__text{
        width: 75px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px){
    .data__text{
        width: 65px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1440px){
    .data__text{
        width: 65px;
        margin-right: 40px;
    }
}