@import url('./__self/slider__self.css');

.slider__wrapper{
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 320px){
    .slider__wrapper{
        height: 264px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px){
    .slider__wrapper{
        height: 242px;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1440px){
    .slider__wrapper{
        height: 290px;
        margin-bottom: 48px;
    }
}