@import url('./__img/preloader-empty__img.css');
@import url('./__caption/preloader-empty__caption.css');
@import url('./__info/preloader-empty__info.css');

.preloader-empty{
    height: 374px;
    margin: 0 auto;
    background-color: #F5F6F7;
    display: none;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 768px){
    .preloader-empty{
        width: 100%;
    }
}
