@import url('../../button-search/button-search.css');

.button{
    border: none;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

@media screen and (min-width: 768px){
    .button{
        height: 56px;
    }
}

@media screen and (min-width: 1440px){
    .button{
        height: 64px;
    }
}
