.analytics__text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

@media screen and (min-width: 320px){
    .analytics__text{
        padding-bottom: 8px;
        padding-top: 16px;
    }
}

@media screen and (min-width: 768px){
    .analytics__text{
        padding-bottom: 4px;
        padding-top: 0;
    }
}

@media screen and (min-width: 1440px){
    .analytics__text{
        padding-bottom: 10px;
        padding-top: 0;
    }
}