@import url('./__button/button.css');
@import url('./__input/search__input.css');

.body__search{
    position: relative;
}

@media screen and (min-width: 320px){
    .body__search{
        width: 288px;
    }
}

@media screen and (min-width: 768px){
    .body__search{
        width: 448px;
    }
}

@media screen and (min-width: 1440px){
    .body__search{
        width: 608px;
    }
}