.line__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 3px;
    margin-left: 3px;
}