.button-more-cards{
    position: absolute;
    z-index: 1;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0);
}

@media screen and (min-width: 320px){
    .button-more-cards{
        width: 288px;
    }
}

@media screen and (min-width: 768px){
    .button-more-cards{
        width: 240px;
    }
}

@media screen and (min-width: 1440px){
    .button-more-cards{
        width: 288px;
    }
}