@import url('./__block/self__block.css');

@import url('./wrapper__gradient-round/wrapper__gradient-round.css');

.slider__self{
    display: flex;
    position: absolute;
}

@media screen and (min-width: 768px){
    .slider__self{
        left: -370px;
    }
}

@media screen and (min-width: 1440px){
    .slider__self{
        left: -312px;
    }
}