@import url('../fonts/fonts.css');
@import url('../vendor/normalize.css');

@import url('../blocks/header-index/header-index.css');
@import url('../blocks/preloader-loading/preloader-loading.css');
@import url('../blocks/preloader-empty/preloader-empty.css');
@import url('../blocks/content-index/content-index.css');
@import url('../blocks/me/me.css');
@import url('../blocks/footer/footer.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link{
    opacity: 1;
    transition: opacity .5s;
}

.link:hover{
    opacity: .6;
}

.link_changed{
    color: #B6BCBF;
    transition: .5s;
}

.link_changed:hover{
    color: #FFFFFF;
}