.topper__title{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #1A1B22;
}

@media screen and (min-width: 768px){
    .topper__title{
        margin-left: 40px;
    }
}

@media screen and (min-width: 1440px){
    .topper__title{
        margin-left: 104px;
    }
}