@import url('./__wrapper/links__wrapper.css');

.topper__links{
    height: 100%;
    display: flex;
}

.topper__links .links__wrapper:first-child{
    margin-right: 34px;
    border-bottom: 2px solid #ffffff;
}

.topper__links .links__wrapper:first-of-type a{
    color: #FFFFFF;
}

@media screen and (min-width: 320px){
    .topper__links{
        margin-right: 14px;
    }
    .topper__links .links__wrapper:first-child{
        margin-right: 11px;
    }
    
}

@media screen and (min-width: 768px){
    .topper__links{
        margin-right: 42px;
    }
}

@media screen and (min-width: 1440px){
    .topper__links{
        margin-right: 104px;
    }
}