@import url('./__circle-preloader/preloader-loading__circle-preloader.css');
@import url('./__caption/preloader-loading__caption.css');

.preloader-loading{
    display: none;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #F5F6F7;
    
}

@media screen and (min-width: 768px){
    .preloader-loading{
        width: 100%;
    }
}
