@import url('../../card-text-elements/card-text-elements.css');

.card-composition__text{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 320px){
    .card-composition__text{
        height: 250px;
        padding: 0 16px 20px 16px;
    }
}

@media screen and (min-width: 768px){
    .card-composition__text{
        height: 300px;
        padding: 0px 16px;
    }
}

@media screen and (min-width: 1440px){
    .card-composition__text{
        height: 300px;
        padding: 0px 24px;
    }
}