.technologies__uses-title{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    color: #1A1B22;
    width: 344px;
    font-size: 40px;
    line-height: 46px;
    /*margin-right: 176px;*/
}