.header__caption{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
}

@media screen and (min-width: 768px){
    .header__caption{
        font-size: 30px;
        line-height: 34px;
        width: 336px;
    }
}

@media screen and (min-width: 1024px){
    .header__caption{
        font-size: 40px;
        line-height: 46px;
        width: 712px;
    }
}