.more-wrapper__text{
    position: absolute;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    border-radius: 80px;
}

@media screen and (min-width: 320px){
    .more-wrapper__text{
        width: 288px;
        padding: 16px 0;
    }
}

@media screen and (min-width: 768px){
    .more-wrapper__text{
        width: 240px;
        padding: 15px 0;
    }
}

@media screen and (min-width: 1440px){
    .more-wrapper__text{
        width: 288px;
        padding: 19px 0;
    }
}