@import url('./__block/gradient-round__block.css');

@import url('./wrapper-absolute/wrapper-absolute.css');


.wrapper__gradient-round{
    display: flex;
    position: relative;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .wrapper__gradient-round{
        visibility: hidden;
    }
}

@media screen and (min-width: 1440px){
    .wrapper__gradient-round{
        visibility: visible;
    }
}