@import url('../../wrapper-button-more/wrapper-button-more.css');

.content-more-button__button{
    display: flex;
    position: relative;
    cursor: pointer;
    border-radius: 80px;
}

.content-more-button__button:hover .button{
    opacity: .6;
}

@media screen and (min-width: 320px){
    .content-more-button__button{
        margin-top: 12px;
    }
}

@media screen and (min-width: 768px){
    .content-more-button__button{
        margin-top: 30px;
    }
}

@media screen and (min-width: 1440px){
    .content-more-button__button{
        margin-top: 64px;
    }
}