@import url('./__text/index-header-wrapper__text.css');
@import url('./__arrow/index-header-wrapper__arrow.css');

.index-header-wrapper{
    text-decoration: none;
    color: #1A1B22;
    display: none;
}

@media screen and (min-width: 320px){
    .index-header-wrapper{
        align-self: flex-start;
    }
}

@media screen and (min-width: 768px){
    .index-header-wrapper{
        align-self: center;
    }
}

@media screen and (min-width: 1440px){
    .index-header-wrapper{
        align-self: center;
    }
}

