.body__analytics{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.body__analytics:last-of-type{
    margin-bottom: 80px;
}

@media screen and (min-width: 1440px){
    .body__analytics:last-of-type{
        margin-bottom: 40px;
    }
}