@import url('./__uses-wrapper-img/technologies__uses-wrapper-img.css');
@import url('./__uses-title/technologies__uses-title.css');

.technologies__wrapper{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 320px){
    .technologies__wrapper{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px){
    .technologies__wrapper{
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px){
    .technologies__wrapper{
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px){
    .technologies__wrapper{
        flex-direction: row;
    }
}