@import url('./__copyright/footer__copyright.css');
@import url('./__links/footer__links.css');
@import url('./__icons/footer__icons.css');

.footer{
    display: flex;
    width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}