@import url('./__button/button.css');
@import url('./__text/button__text.css');

.wrapper__button{
    display: flex;
    position: relative;
    cursor: pointer;
    margin-top: 64px;
    border-radius: 80px;
}

.wrapper__button:hover .button{
    opacity: .6;
}