@import url('./__img/content-index-card__img.css');
@import url('./__text/content-index-card__text.css');

.content-index-card{
    border-radius: 3%;
    cursor: pointer;
    background-color: #FFFFFF;
}

.content-index-card:nth-last-child(n+4){
    margin-bottom: 16px;
}

@media screen and (min-width: 320px){
    .content-index-card{
        width: 288px;
        height: 446px;
    }
}

@media screen and (min-width: 768px){
    .content-index-card{
        width: 224px;
        height: 420px;    
    }
}

@media screen and (min-width: 1440px){
    .content-index-card{
        width: 400px;
        height: 576px;    
    }
}