@import url('./__img/content-index-card__img.css');
@import url('./__text/content-index-card__text.css');
@import url('../non-picture/non-picture.css');

.content-index-card{
    border-radius: 3%;
    cursor: pointer;
    background-color: #FFFFFF;
}

@media screen and (min-width: 320px){
    .content-index-card{
        width: 288px;
        height: 446px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px){
    .content-index-card{
        width: 224px;
        height: 430px;
    }
}

@media screen and (min-width: 1440px){
    .content-index-card{
        width: 400px;
        height: 576px;    
    }
}