@import url('./__title/content__title.css');
@import url('./__text/content__text.css');

.content{
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    .content{
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1440px){
    .content{
        width: 1440px;
        padding-left: 104px;
    }
}