@import url('./__wrapper/links__wrapper.css');

.topper__links{
    margin-right: 104px;
    height: 100%;
    display: flex;
}

.topper__links .links__wrapper:last-child{
    border-bottom: 2px solid #1A1B22;
}

.topper__links .links__wrapper:last-child a{
    color: #1A1B22;
}

.topper__links .links__wrapper:first-child{
    margin-right: 34px;
    color: #B6BCBF;
}