@import url('./__wrapper/links__wrapper.css');

.topper__links{
    height: 100%;
    display: flex;
}

.topper__links .links__wrapper:last-child{
    border-bottom: 2px solid #1A1B22;
}

.topper__links .links__wrapper:last-child a{
    color: #1A1B22;
}

.topper__links .links__wrapper:first-child{
    color: #B6BCBF;
}

@media screen and (min-width: 320px){
    .topper__links{
        margin-right: 14px;
    }
    .topper__links .links__wrapper:first-child{
        margin-right: 11px;
    }  
}


@media screen and (min-width: 768px){
    .topper__links{
        margin-right: 42px;
    }
    .topper__links .links__wrapper:first-child{
        margin-right: 34px;
    }
}

@media screen and (min-width: 1440px){
    .topper__links{
        margin-right: 104px;
    }
    .topper__links .links__wrapper:first-child{
        margin-right: 34px;
    }
}