.preloader-empty__caption{
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin-bottom: 16px;
}