@import url('../../header-universal-links-wrapper/header-universal-links-wrapper.css');

.header-universal__links{
    height: 100%;
    display: flex;
}

.header-universal-links-wrapper_index-first {
    border-bottom: 2px solid #ffffff;
}

.header-universal-links-wrapper_about-second {
    border-bottom: 2px solid #1A1B22;
}

@media screen and (min-width: 320px){
    .header-universal__links{
        margin-right: 14px;
    }
    .header-universal__links .header-universal-links-wrapper:first-child{
        margin-right: 11px;
    }  
}

@media screen and (min-width: 768px){
    .header-universal__links{
        margin-right: 42px;
    }
    .header-universal__links .header-universal-links-wrapper:first-child{
        margin-right: 34px;
    }
}

@media screen and (min-width: 1440px){
    .header-universal__links{
        margin-right: 104px;
    }
    .header-universal__links .header-universal-links-wrapper:first-child{
        margin-right: 34px;
    }
}