.body__title{
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

@media screen and (min-width: 320px){
    .body__title{
        width: 285px;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px){
    .body__title{
        width: 385px;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1440px){
    .body__title{
        width: 608px;
        font-size: 60px;
        line-height: 64px;
        margin-bottom: 32px;
    }
}