.body__title{
    width: 608px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 32px;
}